.home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
  }
  
  .home-image {
    flex: none;
    width: 250px;
    text-align: center;
    margin-right: 20px;
  }
  
  .profile-pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .home-content {
    flex: 1;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .text-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .text-right {
    flex: 1;
    min-width: 250px;
    max-width: 100%;
    padding-left: 10px;
  }
  
  .text-below {
    width: 100%; /* Ensure full width below the image */
    padding-top: 10px;
    flex-basis: 100%; /* Forces it to span full width */
    display: block;
    clear: both;
  } 

  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      align-items: center;
    }
    .home-image {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .text-wrapper {
      flex-direction: column;
    }
    .text-right {
      max-width: 100%;
      padding-left: 0;
    }
  }
  