.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-content {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between image and text */
  }
  
  .image-container {
    flex: 0 0 150px; /* Fixed width for the image */
  }
  
  .profile-image {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-content {
    flex: 1;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  }
  
  .blog-section {
    margin-top: 20px;
    text-align: left;
  }
  
  .blog-table {
    table-layout: fixed; 
    border: none;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .blog-table th, .blog-table td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  