.header {
    width: 100vw;
    background-color: var(--background);
    backdrop-filter: blur(5px) brightness(0.8) saturate(150%);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
  
  .nav-left {
    flex: 1;
    text-align: left;
  }
  
  .nav-center {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center; /* Center links horizontally */
    align-items: center;
    gap: 7px;
  }
  
  .nav-right {
    flex: 1;
    text-align: right;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-container a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .nav-container a:hover {
    text-decoration: underline;
  }

.nav-icon {
    transition: transform 0.3s; /* Smooth transition for rotation */
    cursor: pointer;
    filter: brightness(0.7); 
}

.nav-icon:hover {
    transform: rotate(360deg); /* Full rotation on hover */
    filter: brightness(1);
}
